<%- include('partials/header.ejs') %>


<nav class="navbar navbar-dark bg-primary" id="navbar">
  Navbar content
  <div id="title">Food Pick-Up App</div>
</nav>

<div>
  your order:
</div>

<div>
  <%for(var i = 0; i < length; i++) {%>
        <div class="container-items">

          <div>picture</div>


          <div>
            <div>fooditem</div>
            <div>cost of item</div>
          </div>
        </div>

<<%}%>
</div>



<div>
  total cost : $$
</div>

<div class="container-pickup">
  <div>
    time til pick up
  </div>
  <div>
    where to pick up
  </div>

</div>

<%- include('partials/footer.ejs') %>
