html {
  font-family: "special elite", courier, serif;
  height: 100%;
  background-color: black !important;
}

body {
  font-family: "special elite", courier, serif;
  height: 100%;
  background-color: black !important;
}

#navbar {
  background-color: #000000;
  color: white;
  font-family: "special elite", courier, serif;
  font-weight: 700;
}
#navbar #title {
  font-size: 1.3rem;
}

.cart-main {
  border: 3px solid white;
  border-radius: 10px;
}
.cart-main #cart-container .item {
  height: auto;
}
.cart-main #cart-container .item #cart-text {
  margin: auto;
  font-size: 2.3rem;
  font-family: "special elite", courier, serif;
}
.cart-main #cart-container .item .item-img {
  display: flex;
  justify-content: center;
}
.cart-main #cart-container .item .item-img img {
  max-height: 90px !important;
  border: 3px solid black;
  border-radius: 1rem;
}
.cart-main #cart-container .item .item-name {
  font-family: "special elite", courier, serif;
  font-size: 1.25rem;
  width: auto;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.cart-main #cart-container .item .item-quantity {
  font-family: "special elite", courier, serif;
  font-size: 1.25rem;
  width: auto;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.cart-main #cart-container .item .item-price {
  font-family: "special elite", courier, serif;
  font-size: 1.25rem;
  width: auto;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.cart-main #cart-container #total-price {
  border: 3px solid white;
  border-radius: 7px;
  margin-top: 10px;
  margin-top: 5px;
}
.cart-main #cart-container #total-price #total-text {
  margin: auto;
  font-size: 2.3rem;
  font-family: "special elite", courier, serif;
}
.cart-main #cart-container #confirm {
  border: 3px solid black;
  border-radius: 7px;
  margin-top: 10px;
  margin-top: 5px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.cart-main #cart-container #confirm #confirm-text {
  margin: auto;
  font-size: 2.3rem;
  font-family: "special elite", courier, serif;
}
.cart-main #cart-container #confirm #confirmed {
  margin: auto;
  font-size: 2rem;
  font-family: "special elite", courier, serif;
}

#main-form {
  background-color: #D3B99C;
}

#main-container {
  margin-left: 25rem;
  margin-right: 25rem;
  background-color: #A8937C;
}
#main-container #submit-button {
  border-radius: 10px;
}
#main-container #burger-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
  border-radius: 5px;
}
#main-container #burger-container #burger-title {
  text-align: center;
  font-size: 2rem;
  font-family: "special elite", courier, serif;
  font-weight: 700;
  color: white;
  border-radius: 5px;
  border-bottom: 2px solid black;
  margin-bottom: 5px;
}
#main-container #burger-container #burger-title:hover {
  cursor: pointer;
}
#main-container #burger-container #burger-display {
  text-align: center;
  font-size: 0.3rem;
}
#main-container #burger-container #burger-display .card-section {
  width: auto;
  border-radius: 10px;
  margin-bottom: 15px;
  background-color: rgba(221, 153, 51, 0.9);
  border: 0.5px solid #000000;
}
#main-container #burger-container #burger-display .card-section .title {
  height: 2.75rem;
  font-family: "special elite", courier, serif;
  font-size: 1.5rem;
}
#main-container #burger-container #burger-display .card-section .card-div {
  display: flex;
  justify-content: center;
  height: 12rem;
  margin-bottom: 10px;
}
#main-container #burger-container #burger-display .card-section .card-div .card-img {
  max-width: 200px;
  min-width: 170px;
  height: auto;
  border: 2px solid black;
  border-radius: 20px;
}
#main-container #burger-container #burger-display .card-section .card-text {
  font-family: "special elite", courier, serif;
  font-size: 1.5rem;
}
#main-container #burger-container #burger-display .dropdown {
  margin-left: auto;
  margin-right: auto;
  width: 8rem;
  border: 2px solid black;
}
#main-container #submit-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "special elite", courier, serif;
  font-size: 1rem;
}
#main-container #submit-div #submit-text-area {
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
#main-container #submit-div #submit-button {
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
#main-container #submit-div ::-webkit-input-placeholder {
  text-align: center;
}

@media screen and (max-width: 700px) {
  #main-container {
    margin-left: auto;
    margin-right: auto;
  }
}

/*# sourceMappingURL=main.css.map */
