$lightbrown: #E2D2C2;
$darkbrown: #582707;
$black: #000000;
$dryred: #4b0101;
$red: #DD2D4A;
$white: #ffffff;
$orange: #FF9505;


.admin-main {
  border: 5px solid white;
  border-radius: 20px;

  #admin-container {

    .address-admin {
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 4px solid white;
      border-radius: 10px;
      height: 3rem;
      font-family: 'special elite', courier, serif;
      font-weight: 900;
      #address {
       
        #address-text {}

      }

    }

    #admin-header {
      border: 4px solid black;
      border-radius: 10px;
      font-weight: 900;

      .admin-header-tags {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .row-admin {
      font-family: 'special elite', courier, serif;
      font-size: 1.25rem;
      border: 0.5px solid black;
      border-radius: 10px;
      height: 3rem;

      .user-id-div {
        display: flex;
        align-items: center;
        justify-content: center;

        .user-id {
          font-weight: 900;
        }
      }

      .admin-drop {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .admin-number {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .admin-status-button {
        display: flex;
        align-items: center;
        justify-content: center;
      }

    }

  }
}
