#main-container {
  margin-left: 12rem;
  margin-right: 12rem;
  background-color: grey;


  #pizza-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightgrey;

    #pizza-title {
      text-align: center;
      font-size: 2rem;
    }

    #pizza-display {
      // width: 100%;
      text-align: center;
      font-size: 0.3rem;

      .cards {
        width: 20rem;
      }
      .card-div {
        display: flex;
        justify-content: center;
        height: 12rem;
        .card-img {
          width: 12rem;
          height: 10rem;
        }
      }
    }
  }

  #submit-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    #submit-text-area {
      width: 20rem;
      margin-left: auto; 
      margin-right: auto; 
      margin-top: 1rem; 
      margin-bottom: 0.5rem; 
    }
    #submit-button {
      width: 20rem;
      margin-left: auto; 
      margin-right: auto;
      margin-top: 0.5rem; 
      margin-bottom: 1rem; 
    }
    ::-webkit-input-placeholder {
      text-align: center;
   }
  }
}




@media screen and (max-width: 800px) {
  #main-container {
    margin-left: auto;
    margin-right: auto;
  }
}