// THEME COLORS
$lightbrown: #D3B99C;
$brown: #A8937C;
$darkbrown: #582707;
$black: #000000;
$red: #DD2D4A;
$rusty: #DD2D4A;
$orange: #FF9505;
$borderbrown: #9B5C03;
$mustard: rgba(221, 153, 51, 0.9);
$dryred: #4b0101;


#main-form {
  background-color: $lightbrown;
}

#main-container {
  margin-left: 12rem;
  margin-right: 12rem;
  background-color: $brown;

  #submit-button {
    border-radius: 10px;
  }

  #burger-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    border-radius: 5px;

    #burger-title {
      text-align: center;
      font-size: 2rem;
      font-family: 'special elite', courier, serif;
      font-weight: 700;
      color: white;
      border-radius: 5px;
      border-bottom: 2px solid black;
      margin-bottom: 5px;
    }

    #burger-title:hover {
      cursor: pointer;
    }

    #burger-display {
      text-align: center;
      font-size: 0.3rem;

      .card-section {
        width: auto;
        border-radius: 10px;
        margin-bottom: 15px;
        background-color: $mustard;
        border: 0.5px solid $black;

        .title {
          height: 2.75rem;
          font-family: 'special elite', courier, serif;
          font-size: 1.5rem;
        }

        .card-div {
          display: flex;
          justify-content: center;
          height: 12rem;
          margin-bottom: 10px;

          .card-img {
            max-width: 200px;
            min-width: 170px;
            height: auto;
            border: 2px solid black;
            border-radius: 20px;
          }
        }

        .card-text {
          font-family: 'special elite', courier, serif;
          font-size: 1.5rem;
        }
      }

      .dropdown {
        margin-left: auto;
        margin-right: auto;
        width: 8rem;
        border: 2px solid black;
      }
    }
  }

  #submit-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'special elite', courier, serif;
    font-size: 1rem;

    #submit-text-area {
      width: 20rem;
      margin-left: auto;
      margin-right: auto;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
    }

    #submit-button {
      width: 20rem;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0.5rem;
      margin-bottom: 1rem;
    }

    ::-webkit-input-placeholder {
      text-align: center;
    }
  }
}


@media screen and (max-width: 700px) {
  #main-container {
    margin-left: auto;
    margin-right: auto;
  }
}
