// THEME COLORS
$lightbrown: #E2D2C2;
$darkbrown: #582707;
$black: #000000;
$red: #DD2D4A;
$orange: #FF9505;


#navbar {
  background-color: $black;
  color: white;
  font-family: 'special elite', courier, serif; 
  font-weight: 700;
  // text-transform: lowercase!important;
  #title {
  
  }
}